.post-item {
  display: flex !important;
}

.blog-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-banner-title {
  position: absolute;
  color: white;
}

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.ui.horizontal.section.divider.blog-divider {
  font-size: 24px;
}
